<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" href="assets/favicon.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <title>Sendfy |</title>
  </head>
  <body>
    <main>
      <div class="bar">
        <div class="darwin">
          <div id="close"></div>
          <div id="minimize"></div>
        </div>
        <div draggable="true" class="dragable-area"></div>
        <div class="win">
          <div id="minimize">
            <i class="fas fa-window-minimize"></i>
          </div>
          <div id="close">
            <i class="far fa-window-close"></i>
          </div>
        </div>
      </div>
      <%- body %>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/index.js"></script>
  </body>
</html>
