<main>
  <header>
    <img src="assets/logo.png" alt="" />
  </header>
  <div class="content"></div>
  <footer>
    <form id="form-chat">
      <input id="input-chat" type="text" />
      <button class="btn-success" type="submit">Enviar</button>
    </form>
  </footer>
</main>
