<div class="preferences">
  <h1>Preferências</h1>
  <form id="form-preferences">
    <div class="preferences-container">
      <strong>Aparência</strong>
      <div class="preferences-content">
        <div class="preferences-item">
          <p>Tema</p>
          <select name="theme">
            <option id="light" value="light">Light</option>
            <option id="dark" value="dark">Dark</option>
          </select>
        </div>
        <div class="preferences-item">
          <p>Sempre ao topo</p>
          <input type="checkbox" name="alwaysOnTop" />
        </div>
        <div class="preferences-item">
          <p>Dragable</p>
          <input type="checkbox" name="draggable" />
        </div>
        <div class="preferences-item">
          <p>Apple bar</p>
          <input type="checkbox" name="isMacOsActionButtonsEnable" />
        </div>
      </div>
      <hr />
    </div>
    <button id="preferences" class="btn-success" type="submit">Salvar</button>
  </form>
</div>
